PORT=5000
MONGO_URI = mongodb+srv://shopnest:shopnest0000@cluster0.jym
EMAIL_USER=dummy6395
EMAIL_PASS=qzyrjewzipdv

CLOUDINARY_CLOUD_NAME=ds3sxcv
CLOUDINARY_API_KEY=84369
CLOUDINARY_API_SECRET=W6

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

FRONTEND_URL=http://localhost:3000
NODE_ENV=developmentbbkbi